.horizontal-scrollbar-track {
  width: 578px;
  height: 9px;
  background-color: #000000;
  position: absolute;
  bottom: calc(10% + 51px + 3px);
  left: 20%;
  z-index: 11;
  padding: 2px 3px;
  pointer-events: none;
}

.horizontal-scrollbar-thumb {
  position: absolute;
  height: 5px;
  background-color: white;
  top: 2px;
  pointer-events: auto;
}
