.imageselector-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #101010;
}

.imageselector-groups {
  display: flex;
}

.imageselector-group {
  width: 155px;
  height: 177px;
  cursor: pointer;
  border: 1px solid #101010;
}

.imageselector-group img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
