.picmenu-overlay {
  position: fixed;

  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  opacity: 0;
  animation: fadeIn 0.03s steps(1) forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.picmenu-content {
  width: 1398px;
  height: 712px;
  background: white;
  display: flex;
  flex-direction: column;
  transform: scale(0.95);
  animation: scaleIn 0.03s steps(1) forwards;
}

@keyframes scaleIn {
  to {
    transform: scale(1);
  }
}

.picmenu-main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.picmenu-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.picmenu-card {
  height: 100%;
  width: 466px;
  flex-shrink: 0;
}

.picmenu-card:last-child {
  border-right: none;
}

.picmenu-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.picmenu-zoom {
  position: fixed;
  width: 252px;
  height: 198px;
  pointer-events: none;
  z-index: 1001;
  background-color: white;
}

.picmenu-selector {
  height: 180px;
  min-height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-top: 1px solid #ccc;
  width: fit-content;
  margin: 0 auto;
  margin-top: -8rem;
}
