footer {
  width: 100%;
  height: 47px;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  justify-content: space-between;
  border-top: 1px solid #101010;
  border-bottom: 1px solid #101010;
  background-color: white;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-left a {
  font-size: 1rem;
  font-weight: 300;
  color: #101010;
  text-decoration: none;
}
