.header-menu {
  position: absolute;
  left: 0;
  width: 100%;
  height: 345px;
  z-index: 1001;
  background-color: red;
}

.header-menu.down {
  top: 100%;
  bottom: auto;
}

.header-menu.up {
  bottom: 100%;
  top: auto;
}